.mainbox2__messages{data:{ id: "#{message.id}"}}
  .mainbox2_message_baseinfo
    .mainbox2_message_baseinfo__user
      = message.user.name
    .mainbox2_message_baseinfo__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .mainbox2_message_text
    - if message.content.present?
      %p.mainbox2_message_text__content
        = message.content
    = image_tag message.image.url, class: 'mainbox2_message_text__image' if message.image.present?
    