.container
  
  = render 'shared/side_bar'

  .mainbox1 
    .mainbox1__group_current
      %h2.mainbox1__group_current_name 市川
      %h3.mainbox1__group_current_members Member:ichi
    %input.mainbox1__edit_button{type: 'submit', value: 'Edit'}
      
  .mainbox2
    = render @messages

  .form  
    .message_box_input 
      = form_for [@group, @message] do |f| 
        = f.text_field :content, class: 'message_box_input__text' ,placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'picture-o-images'
            = f.file_field :image, class: 'hidden' 
          = f.submit 'Send', class: 'form__mask__send_button' 
